.body {
  margin-bottom: 0;
  padding-top: 27px;
}

.saas-futuristic-app {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #0b0121;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.navbar-logo-left {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #0b0121;
  justify-content: center;
  align-items: flex-start;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.navbarcontainer {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar-content {
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.navbar-brand {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.logo-wrapper {
  width: 138px;
  height: 22px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper {
  width: 138px;
  height: 22px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  border-radius: 14px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar-menu {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.navbar-link {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px 12px;
  display: flex;
}

.text {
  color: #ececec;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.button {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #ececec;
  border: 1px solid #ececec;
  border-radius: 50px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  text-decoration: none;
  display: flex;
}

.text-2 {
  color: #0b081c;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.button-2 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border: 1px solid #ececec;
  border-radius: 50px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  text-decoration: none;
  display: flex;
}

.hero-stack {
  width: 100%;
  min-height: 1201.81px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-image: url('../images/Hero-Stack.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 170px 20px 80px;
  display: flex;
}

.small-container {
  width: 100%;
  max-width: 960px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.title-section {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.pill {
  width: 100%;
  max-width: 417.622px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1.23818px solid rgba(255, 255, 255, .3);
  border-radius: 61.9089px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 9.90542px 19.8108px;
  display: flex;
}

.text-3 {
  color: #f2f4f8;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 150%;
}

.modern-analytics-for-the-modern-world {
  text-align: center;
  letter-spacing: -.03em;
  -webkit-text-fill-color: transparent;
  background-color: #fff;
  background-image: linear-gradient(173.49deg, #ececec, rgba(236, 236, 236, 0));
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Montserrat, sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 100%;
}

.paragraph-wrapper {
  width: 100%;
  max-width: 600px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.error-4d02f499-5df2-2124-863c-ec25cb608908 {
  color: rgba(236, 236, 236, .65);
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
}

.actions {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex: 0 auto;
  justify-content: center;
  align-items: flex-start;
  padding-top: 16px;
  display: flex;
}

.button-3 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #ececec;
  border-radius: 60px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  text-decoration: none;
  display: flex;
}

.button-4 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px solid #ececec;
  border-radius: 60px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  text-decoration: none;
  display: flex;
}

.image-wrapper {
  width: 100%;
  height: 472px;
  min-height: 472px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-image: url('../images/Image-Wrapper.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0 -2px 40px rgba(187, 155, 255, .15), 0 -2px 10px rgba(233, 223, 255, .3), inset 0 .5px rgba(255, 255, 255, .5);
}

.text-4 {
  color: rgba(255, 255, 255, 0);
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.logo-title {
  width: 100%;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 60px 20px;
  display: flex;
}

.text-5 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
}

.content {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.logos {
  width: 100%;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.logo-wrapper-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper-2 {
  width: 62px;
  height: 20px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper-3 {
  width: 87px;
  height: 17px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper-4 {
  width: 67px;
  height: 21px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper-5 {
  width: 143px;
  height: 13px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper-6 {
  width: 80px;
  height: 24.2697px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper-7 {
  width: 120px;
  height: 22.8px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper-8 {
  width: 54.2857px;
  height: 20px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.section {
  width: 100%;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.section-title {
  width: 100%;
  max-width: 470px;
  min-height: 324px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  background-image: url('../images/Section-Title.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
}

.title-wrapper {
  width: 100%;
  max-width: 450px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  display: flex;
}

.title {
  color: #ececec;
  text-align: center;
  letter-spacing: -.32px;
  font-family: Montserrat, sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 120%;
}

.text-6 {
  color: #ececec;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
}

.container {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  display: flex;
}

._2-columns {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.column {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.card-wrapper {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-image: linear-gradient(rgba(255, 255, 255, .05) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 60px;
  display: flex;
  box-shadow: inset 0 .5px rgba(255, 255, 255, .5), 0 -2px 40px rgba(187, 155, 255, .15), 0 -2px 10px rgba(233, 223, 255, .3);
}

.icon-wrapper {
  width: 50px;
  height: 50px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0 0 36.4547px rgba(89, 29, 221, .75);
}

.icon-image {
  object-fit: cover;
}

.card-content {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-7 {
  color: #ececec;
  letter-spacing: -.16px;
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 130%;
}

.text-8 {
  color: #ececec;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.actions-2 {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 16px;
  display: flex;
}

.button-5 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.text-9 {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  text-decoration: underline;
}

.icon-wrapper-2 {
  width: 50px;
  height: 50px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0 0 36.4547px rgba(149, 37, 201, .75);
}

.actions-3 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 16px;
  display: flex;
}

._2-columns-2 {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-image: linear-gradient(rgba(255, 255, 255, .05) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 60px;
  display: flex;
  box-shadow: inset 0 .5px rgba(255, 255, 255, .5), 0 -2px 40px rgba(187, 155, 255, .15), 0 -2px 10px rgba(233, 223, 255, .3);
}

.column-2 {
  width: 100%;
  max-width: 460px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.icon-wrapper-3 {
  width: 50px;
  height: 50px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0 0 36.4547px rgba(201, 37, 171, .75);
}

.column-3 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
}

.image-wrapper-2 {
  width: 100%;
  max-width: 467px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  box-shadow: 0 0 rgba(255, 255, 255, .1), 0 0 rgba(0, 0, 0, .05), 0 -2px 40px rgba(187, 155, 255, .15), 0 -2px 10px rgba(233, 223, 255, .3), inset 0 .583383px rgba(255, 255, 255, .5), inset 0 .5px rgba(255, 255, 255, .5);
}

.image {
  object-fit: cover;
  border-radius: 20px;
}

.hero-no-image {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #0b0121;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 60px 20px;
  display: flex;
}

.container-2 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-image: linear-gradient(rgba(255, 255, 255, .05) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 60px;
  display: flex;
  box-shadow: inset 0 .5px rgba(255, 255, 255, .5), 0 -2px 40px rgba(187, 155, 255, .15), 0 -2px 10px rgba(233, 223, 255, .3);
}

.content-2 {
  width: 100%;
  max-width: 768px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.error-4d02f499-5df2-2124-863c-ec25cb608937 {
  color: #ececec;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
}

.error-4d02f499-5df2-2124-863c-ec25cb608938 {
  color: #ececec;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.footer {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 64px 20px;
  display: flex;
}

.container-3 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.column-4 {
  width: 100%;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.footer-links-wrapper {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-10 {
  color: #fff;
  letter-spacing: -.01em;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.footer-links {
  width: 100%;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-11 {
  color: #fff;
  letter-spacing: -.01em;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.footer-links-wrapper-2 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-12 {
  color: #939393;
  letter-spacing: -.01em;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.address-wrapper {
  width: 100%;
  max-width: 210px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.terms-wrapper {
  width: 100%;
  grid-column-gap: 19px;
  grid-row-gap: 19px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.column-5 {
  width: 180px;
  height: 312px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}

.logo-wrapper-3 {
  width: 138px;
  height: 22px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}

.trusted-by-teams-at-over-1000-of-the-world-s-leading-organizations-0 {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
}

.trusted-by-teams-at-over-1000-of-the-world-s-leading-organizations-1 {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}

.vectors-wrapper-9 {
  width: 138px;
  height: 22px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-13 {
  color: #ececec;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.button-6 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #ececec;
  border: 1px solid #ececec;
  border-radius: 50px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  text-decoration: none;
  display: flex;
}

.text-14 {
  color: #0b081c;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.button-7 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border: 1px solid #ececec;
  border-radius: 50px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  text-decoration: none;
  display: flex;
}

.text-15 {
  color: #f2f4f8;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 150%;
}

.actions-4 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex: 0 auto;
  justify-content: center;
  align-items: flex-start;
  padding-top: 16px;
  display: flex;
}

.button-8 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #ececec;
  border-radius: 60px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  text-decoration: none;
  display: flex;
}

.button-9 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px solid #ececec;
  border-radius: 60px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  text-decoration: none;
  display: flex;
}

.text-16 {
  color: rgba(255, 255, 255, 0);
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.text-17 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
}

.logo-wrapper-4 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper-10 {
  width: 62px;
  height: 20px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper-11 {
  width: 87px;
  height: 17px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper-12 {
  width: 67px;
  height: 21px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper-13 {
  width: 143px;
  height: 13px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper-14 {
  width: 80px;
  height: 24.2697px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper-15 {
  width: 120px;
  height: 22.8px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-18 {
  color: #ececec;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
}

.container-4 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  display: flex;
}

._2-columns-3 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.column-6 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.icon-wrapper-4 {
  width: 50px;
  height: 50px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0 0 36.4547px rgba(89, 29, 221, .75);
}

.text-19 {
  color: #ececec;
  letter-spacing: -.16px;
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 130%;
}

.actions-5 {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 16px;
  display: flex;
}

.button-10 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.text-20 {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  text-decoration: underline;
}

._2-columns-4 {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-image: linear-gradient(rgba(255, 255, 255, .05) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 60px;
  display: flex;
  box-shadow: inset 0 .5px rgba(255, 255, 255, .5), 0 -2px 40px rgba(187, 155, 255, .15), 0 -2px 10px rgba(233, 223, 255, .3);
}

.column-7 {
  width: 100%;
  max-width: 460px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.icon-wrapper-5 {
  width: 50px;
  height: 50px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0 0 36.4547px rgba(201, 37, 171, .75);
}

.column-8 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
}

.image-wrapper-3 {
  width: 100%;
  max-width: 467px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  box-shadow: 0 0 rgba(255, 255, 255, .1), 0 0 rgba(0, 0, 0, .05), 0 -2px 40px rgba(187, 155, 255, .15), 0 -2px 10px rgba(233, 223, 255, .3), inset 0 .583383px rgba(255, 255, 255, .5), inset 0 .5px rgba(255, 255, 255, .5);
}

.container-5 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-image: linear-gradient(rgba(255, 255, 255, .05) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 60px;
  display: flex;
  box-shadow: inset 0 .5px rgba(255, 255, 255, .5), 0 -2px 40px rgba(187, 155, 255, .15), 0 -2px 10px rgba(233, 223, 255, .3);
}

.content-3 {
  width: 100%;
  max-width: 768px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.container-6 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.text-21 {
  color: #fff;
  letter-spacing: -.01em;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.text-22 {
  color: #fff;
  letter-spacing: -.01em;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.footer-links-wrapper-3 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-23 {
  color: #939393;
  letter-spacing: -.01em;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.column-9 {
  width: 180px;
  height: 312px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}

.logo-wrapper-5 {
  width: 138px;
  height: 22px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}

.trusted-by-teams-at-over-1000-of-the-world-s-leading-organizations-2 {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}

.frame-10 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.frame-3 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  display: flex;
}

.vectors-wrapper-16 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-24 {
  color: #fff;
  text-align: center;
  letter-spacing: -.02em;
  font-size: 40px;
  font-weight: 400;
  line-height: 130%;
  position: absolute;
  top: 210px;
  left: 48px;
}

._0d36aced587ee1d4d368d607069556be-sticker-1 {
  object-fit: cover;
  position: absolute;
  top: 11px;
  left: 313px;
}

.image-2 {
  border-radius: 20px;
}

.saas-futuristic-app-2 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #0b0121;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.navbar-logo-left-2 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #0b0121;
  justify-content: center;
  align-items: flex-start;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.navbarcontainer-2 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar-content-2 {
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.navbar-brand-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.logo-wrapper-6 {
  width: 138px;
  height: 22px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper-17 {
  width: 138px;
  height: 22px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar-menu-2 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.navbar-link-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px 12px;
  display: flex;
}

.text-25 {
  color: #ececec;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.navbar-link-3, .navbar-link-4, .navbar-link-5 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px 12px;
  display: flex;
}

.button-11 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #ececec;
  border: 1px solid #ececec;
  border-radius: 50px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  text-decoration: none;
  display: flex;
}

.text-26 {
  color: #0b081c;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.button-12 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border: 1px solid #ececec;
  border-radius: 50px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  text-decoration: none;
  display: flex;
}

.hero-stack-2 {
  width: 100%;
  min-height: 1201.81px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-image: url('../images/Hero-Stack.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 170px 20px 80px;
  display: flex;
}

.small-container-2 {
  width: 100%;
  max-width: 960px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.title-section-2 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.pill-2 {
  width: 100%;
  max-width: 417.622px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1.23818px solid rgba(255, 255, 255, .3);
  border-radius: 61.9089px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 9.90542px 19.8108px;
  display: flex;
}

.text-27 {
  color: #f2f4f8;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 150%;
}

.modern-analytics-for-the-modern-world-2 {
  outline-offset: 0px;
  text-align: center;
  letter-spacing: -.03em;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: normal;
  background-image: linear-gradient(173.49deg, #ececec, rgba(236, 236, 236, 0));
  -webkit-background-clip: text;
  background-clip: text;
  outline: 3px #333;
  font-family: Montserrat, sans-serif;
  font-size: 80px;
  font-weight: 500;
  line-height: 100%;
}

.paragraph-wrapper-2 {
  width: 100%;
  max-width: 600px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique {
  color: rgba(236, 236, 236, .65);
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
}

.actions-6 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex: 0 auto;
  justify-content: center;
  align-items: flex-start;
  padding-top: 16px;
  display: flex;
}

.button-13 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #ececec;
  border-radius: 60px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  text-decoration: none;
  display: flex;
}

.button-14 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px solid #ececec;
  border-radius: 60px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  text-decoration: none;
  display: flex;
}

.image-wrapper-4 {
  width: 100%;
  height: 472px;
  min-height: 472px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-image: url('../images/Image-Wrapper.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0 -2px 40px rgba(187, 155, 255, .15), 0 -2px 10px rgba(233, 223, 255, .3), inset 0 .5px rgba(255, 255, 255, .5);
}

.text-28 {
  color: rgba(255, 255, 255, 0);
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.logo-title-2 {
  width: 100%;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 60px 20px;
  display: flex;
}

.text-29 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
}

.content-4 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.logos-2 {
  width: 100%;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.logo-wrapper-7 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper-18 {
  width: 62px;
  height: 20px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper-19 {
  width: 87px;
  height: 17px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper-20 {
  width: 67px;
  height: 21px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper-21 {
  width: 143px;
  height: 13px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper-22 {
  width: 80px;
  height: 24.2697px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper-23 {
  width: 120px;
  height: 22.8px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper-24 {
  width: 54.2857px;
  height: 20px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.section-2 {
  width: 100%;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.section-title-2 {
  width: 100%;
  max-width: 470px;
  min-height: 324px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  background-image: url('../images/Section-Title.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
}

.title-wrapper-2 {
  width: 100%;
  max-width: 450px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  display: flex;
}

.title-2 {
  color: #ececec;
  text-align: center;
  letter-spacing: -.32px;
  font-family: Montserrat, sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 120%;
}

.text-30 {
  color: #ececec;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
}

.container-7 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  display: flex;
}

._2-columns-5 {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.column-10 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.card-wrapper-2 {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-image: linear-gradient(rgba(255, 255, 255, .05) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 60px;
  display: flex;
  box-shadow: inset 0 .5px rgba(255, 255, 255, .5), 0 -2px 40px rgba(187, 155, 255, .15), 0 -2px 10px rgba(233, 223, 255, .3);
}

.icon-wrapper-6 {
  width: 50px;
  height: 50px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0 0 36.4547px rgba(89, 29, 221, .75);
}

.icon-image-2 {
  object-fit: cover;
}

.card-content-2 {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-31 {
  color: #ececec;
  letter-spacing: -.16px;
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 130%;
}

.text-32 {
  color: #ececec;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.actions-7 {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 16px;
  display: flex;
}

.button-15 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.text-33 {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  text-decoration: underline;
}

.icon-wrapper-7 {
  width: 50px;
  height: 50px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0 0 36.4547px rgba(149, 37, 201, .75);
}

.actions-8 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 16px;
  display: flex;
}

._2-columns-6 {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-image: linear-gradient(rgba(255, 255, 255, .05) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 60px;
  display: flex;
  box-shadow: inset 0 .5px rgba(255, 255, 255, .5), 0 -2px 40px rgba(187, 155, 255, .15), 0 -2px 10px rgba(233, 223, 255, .3);
}

.column-11 {
  width: 100%;
  max-width: 460px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.icon-wrapper-8 {
  width: 50px;
  height: 50px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0 0 36.4547px rgba(201, 37, 171, .75);
}

.column-12 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
}

.image-wrapper-5 {
  width: 100%;
  max-width: 467px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  box-shadow: 0 0 rgba(255, 255, 255, .1), 0 0 rgba(0, 0, 0, .05), 0 -2px 40px rgba(187, 155, 255, .15), 0 -2px 10px rgba(233, 223, 255, .3), inset 0 .583383px rgba(255, 255, 255, .5), inset 0 .5px rgba(255, 255, 255, .5);
}

.hero-no-image-2 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #0b0121;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 60px 20px;
  display: flex;
}

.container-8 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-image: linear-gradient(rgba(255, 255, 255, .05) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 60px;
  display: flex;
  box-shadow: inset 0 .5px rgba(255, 255, 255, .5), 0 -2px 40px rgba(187, 155, 255, .15), 0 -2px 10px rgba(233, 223, 255, .3);
}

.content-5 {
  width: 100%;
  max-width: 768px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.our-powerful-analytics-provides-invaluable-insights {
  color: #ececec;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
}

.unlock-the-power-of-data-with-our-cutting-edge-analytics-product-get-instant-insights-with-our-user-friendly-analytics-dashboard-and-take-advantage-of-our-innovative-digital-credit-tokens-to-reward-your-customers-and-incentivize-engagement {
  color: #ececec;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.footer-2 {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 64px 20px;
  display: flex;
}

.container-9 {
  width: 100%;
  max-width: 1200px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.column-13 {
  width: 100%;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.footer-links-wrapper-4 {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-34 {
  color: #fff;
  letter-spacing: -.01em;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.footer-links-2 {
  width: 100%;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-35 {
  color: #fff;
  letter-spacing: -.01em;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.footer-links-wrapper-5 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-36 {
  color: #939393;
  letter-spacing: -.01em;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.address-wrapper-2 {
  width: 100%;
  max-width: 210px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.terms-wrapper-2 {
  width: 100%;
  grid-column-gap: 19px;
  grid-row-gap: 19px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.column-14 {
  width: 180px;
  height: 312px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}

.logo-wrapper-8 {
  width: 138px;
  height: 22px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}

.trusted-by-teams-at-over-1000-of-the-world-s-leading-organizations-3 {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
}

.trusted-by-teams-at-over-1000-of-the-world-s-leading-organizations-4 {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}

@media screen and (max-width: 991px) {
  .navbar-logo-left {
    padding-right: 0;
  }

  .navbar-menu {
    max-width: unset;
  }

  .navbar-link {
    justify-content: center;
  }

  .f2wf-columns {
    flex-direction: column;
    align-items: center;
  }

  .navbar-logo-left-2 {
    padding-right: 0;
  }

  .navbar-menu-2 {
    max-width: unset;
  }

  .navbar-link-2, .navbar-link-3, .navbar-link-4, .navbar-link-5 {
    justify-content: center;
  }

  .f2wf-columns-2 {
    flex-direction: column;
    align-items: center;
  }
}


